#top {
    font-family: 'KaushanScriptRegular';
    font-weight: normal;
    font-style: normal;
    text-align: center;
    color: seashell;
 }

 body{
     background-image: url(https://png.pngtree.com/background/20210706/original/pngtree-hd-brick-wall-background-picture-image_206286.jpg);
     background-repeat: no-repeat;
     background-size: 2000px;
 }

table{
    margin-left: auto;
    margin-right: auto;
    
}

th{
    border: 5px solid white;
}

#one{
     background-color: #247BA0;
     width: 125px;
     height: 300px;
     margin: auto;
 }

 #two{
    background-color: #70c1b3;
    width: 125px;
    height: 300px;
}

#three{
    background-color: #b2dbbf;
    width: 125px;
    height: 300px;

}

#four{
    background-color: #f3ffbd;
    width: 125px;
    height: 300px;

}
#five{
    background-color: #ff1654;
    width: 125px;
    height: 300px;

}